<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实现双向绑定之数据劫持</title>
</head>
<body>

<input v-model="msg" type="text">
<div v-text="msg"></div>

<input v-model="msg1" type="text">
<div v-text="msg1"></div>

<button id="change">修改msg</button>
<button id="change1">修改msg1</button>

<code>
    数据劫持方法是使用 Object.defineProperty 对数据对象做属性 get 和 set 的监听，
    当有数据读取和赋值操作时则调用对应的方法，这样使用等号赋值就可以了
</code>

<script>

    // 元素数组
    var elements = [];

    var body = document.getElementsByTagName('body')[0]

    function getChildNodes(node) {
        if (node.hasChildNodes() && node.nodeType == 1) {
            for (var i = 0; i < node.children.length; i++) {
                var child = node.children[i];
                if (child.nodeName.toUpperCase() !== 'SCRIPT') elements.push(child)
                getChildNodes(child)
            }
        }
    }
    // 遍历 body 下的元素
    getChildNodes(body)

    // 初始化数据
    var data = {
        msg: 'Hello0',
        msg1: 'Hello1'
    };

    var vCmd = {
        text: function (str) {
            this.innerHTML = str
        },
        model: function (str) {
            this.value = str
        }
    }

    // 扫描带'v-'指令的元素属性
    var scanAndCall = function () {
        console.log('scanAndCall...')
        for (var i = 0; i < elements.length; i++) {
            var element = elements[i];
            for (var j = 0; j < element.attributes.length; j++) {
                var attr = element.attributes[j];
                if (attr.nodeName.indexOf('v-') >= 0) {
                    // 调用指令绑定的方法
                    vCmd[attr.nodeName.slice(2)].call(element, data[attr.nodeValue]);
                }
            }
        }
    }

    // 劫持各个属性的 setter，getter，在数据变动时扫描并触发指令绑定的方法
    var defineProperty = function (obj) {
        for (var prop in obj) {
            // 使用闭包封闭作用域，保存 _value 的值
            (function (prop) {
                try {
                    // 初始值
                    var _value = obj[prop];
                    // https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Global_Objects/Object/defineProperty
                    Object.defineProperty(obj, prop, {
                        get: function () {
                            return _value
                        },

                        set: function (newValue) {
                            _value = newValue
                            scanAndCall()
                        },
                        // enumerable 定义了对象的属性是否可以在 for...in 循环和 Object.keys() 中被枚举
                        enumerable: true,
                        // configurable 特性表示对象的属性是否可以被删除
                        configurable: true
                    })
                } catch (error) {
                    console.error(error)
                }
            })(prop)
        }
    }

    scanAndCall()
    defineProperty(data)


    // 为 input 添加监听事件
    for (var k = 0; k < elements.length; k++) {
        if (elements[k].nodeName.toUpperCase() === 'INPUT') {
            (function (k) {
                elements[k].addEventListener('keyup', function (e) {
                    for (var j = 0; j < elements[k].attributes.length; j++) {
                        var attr = elements[k].attributes[j]
                        if (attr.nodeName.indexOf('v-') >= 0) {
                            data[attr.nodeValue] = e.target.value;
                        }
                    }
                }, false);
            })(k)
        }
    }

    document.getElementById('change').onclick = function () {
        data.msg = 'change value0'
    }

    document.getElementById('change1').onclick = function () {
        data.msg1 = 'change value1'
    }

</script>
</body>
</html>